<%- include("includes/header") %> 


<main>
    <div class="container">
        <div class="hero-section">
            <div>
                <ul>
                    <li><a href="">Woman’s Fashion</a></li>
                    <li><a href="">Men’s Fashion</a></li>
                    <li><a href="">Electronics</a></li>
                    <li><a href="">Home & Lifestyle</a></li>
                    <li><a href="">Medicine</a></li>
                    <li><a href="">Sports & Outdoor</a></li>
                    <li><a href="">Baby’s & Toys</a></li>
                    <li><a href="">Groceries & Pets</a></li>
                    <li><a href="">Health & Beauty</a></li>
                </ul>
            </div>
    
            <div class="feature-img">
                <div>
                    <div class="feat1">
                        <figure class="applelogo">
                            <img src="/1200px-Apple_gray_logo 1.png" alt="">
                        </figure>
        
                        <p>iPhone 14 Series</p>
                    </div>
    
                    <h1>Up to 10% off Voucher</h1>
    
                    <p><a href="">Shop Now</a></p>
                </div>
    
    
                <div>
                    <figure class="iphoneimg">
                        <img src="/hero_endframe__cvklg0xk3w6e_large 2.png" alt="">
                    </figure>
                </div>
    
    
            </div>
        </div>
    </div>


    <div>
        <div>
            <p>Today</p>
        </div>

        <div>
            <h6>Flash Sales</h6>
        </div>

        <div>
            <div>
                <p>40%</p>

            
            </div>
            <div>
                <p>HAVIT HV-G92 Gamepad</p>

                <div>
                    <p>120$</p>
                    <p>150$</p>
                </div>
            </div>
            
        </div>
    </div>
</main>


<%- include("includes/footer") %>

