<%- include("includes/header") %> 


<main>
    <div class="container">
        <div>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>

        <div>
            <div>
                <div>
                    <figure>
                        <img src="/1200px-Apple_gray_logo 1" alt="">
                    </figure>
    
                    <p>iPhone 14 Series</p>
                </div>

                <h1>Up to 10% off Voucher</h1>

                <p><a href="">Shop Now</a></p>
            </div>


            <div>
                <figure>
                    <img src="/hero_endframe__cvklg0xk3w6e_large 2" alt="">
                </figure>
            </div>


        </div>
    </div>
</main>


<%- include("includes/footer") %>

