<%- include("includes/header") %> 


<main>
    <div class="container">
        <div class="hero-section">
            <div>
                <ul>
                    <li><a href="">Woman’s Fashion</a></li>
                    <li><a href="">Men’s Fashion</a></li>
                    <li><a href="">Electronics</a></li>
                    <li><a href="">Home & Lifestyle</a></li>
                    <li><a href="">Medicine</a></li>
                    <li><a href="">Sports & Outdoor</a></li>
                    <li><a href="">Baby’s & Toys</a></li>
                    <li><a href="">Groceries & Pets</a></li>
                    <li><a href="">Health & Beauty</a></li>
                </ul>
            </div>
    
            <div class="feature-img">
                <div>
                    <div class="feat1">
                        <figure class="applelogo">
                            <img src="/1200px-Apple_gray_logo 1.png" alt="">
                        </figure>
        
                        <p>iPhone 14 Series</p>
                    </div>
    
                    <h1>Up to 10% off Voucher</h1>
    
                    <p><a href="">Shop Now</a></p>
                </div>
    
    
                <div>
                    <figure class="iphoneimg">
                        <img src="/hero_endframe__cvklg0xk3w6e_large 2.png" alt="">
                    </figure>
                </div>
    
    
            </div>
        </div>
    </div>


    <section class="container">

        <div class="ctg">
            <p>Today’s</p>
            <h3>Flash Sales</h3>
        </div>

        <div>
            <button class="button1">
                View all products

            </button>
        </div>

    </section>


    <section class="container">

        <div class="prd-list">

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/g92-2-500x500 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>HAVIT HV-G92 Gamepad</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
                    <button class="button4 mg-tp">Add to cart</button>

                </div>
            </div>
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/ak-900-01-500x500 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>AK-900 Wired Keyboard</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
                    <button class="button4 mg-tp">Add to cart</button>

                </div>
            </div>
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/g27cq4-500x500 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>IPS LCD Gaming Monitor</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
                    <button class="button4 mg-tp">Add to cart</button>

                </div>
            </div>
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-kvmdsTrGOBM-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>S-Series Comfort Chair </p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
                    <button class="button4 mg-tp">Add to cart</button>

                </div>
            </div>

            
        </div>
        

    </section>



    <section class="container">

        <div class="ctg">
            <p>This Month</p>
            <h3>Browse by Categories</h3>
        </div>

    </section>

    <section class="container">

        <div class="categories-container">

            <button class="button2">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <p>Phones</p>
            </button>
    
            <button class="button2">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <p>Computer</p>
            </button>
    
            
            <button class="button2">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>Wrist watch</p>
            </button>
    
            
            <button class="button2">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <p>Camera</p>
            </button>
    
            
            <button class="button3">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                <p>Headphones</p>
            </button>
    
            
            <button class="button2">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <p>Gamepad</p>
            </button>
    
            
            <button class="button2">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <p>Phones</p>
            </button>

        </div>

    </section>


    <section class="container">

        <div class="ctg">
            <p>This Month</p>
            <h3>Best Selling Products</h3>
        </div>

        <div>
            <button class="button1">
                View all products

            </button>
        </div>

    </section>

    <section class="container">

        <div class="prd-list">
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/672462_ZAH9D_5626_002_100_0000_Light-The-North-Face-x-Gucci-coat 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>The north coat</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>
    
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/547953_9C2ST_8746_001_082_0000_Light-Gucci-Savoy-medium-duffle-bag 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Gucci duffle bag</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>
    
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/gammaxx-l240-argb-1-500x500 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>RGB liquid CPU Cooler</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>
    
            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>
        </div>

    </section>

    <section class="container">

        <div class="feature-img">
            <div>
                <p class="color1">Categories</p>

                <h1 class="mg-tp">Enhance Your Music Experience</h1>

                <button class="button1"> Buy Now </button>
            </div>


            <div>
                <figure class="iphoneimg">
                    <img src="/JBL_BOOMBOX_2_HERO_020_x1 (1) 1prod.png" alt="">
                </figure>
            </div>


        </div>
        
    </section>

    <section class="container">

        <div class="ctg">
            <p>Our Products</p>
            <h3>Explore Our Products</h3>
        </div>

        <div>
            <button class="button1">
                View all products

            </button>
        </div>

    </section>


    <section class="container">
        <div class="prd-list">

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

            <div class="product">
                <div class="discout-tag">
                    <p>-40%</p>
                </div>
    
                <figure class="prd-img">
                    <img src="/sam-moghadam-khamseh-L_7MQsHl_aU-unsplash 1prod.png" alt="">
                </figure>
    
                <div class="prd-details">
                    <p>Small BookSelf</p>
                    <div class="pricing">
                        <p class="color1">$120</p>
                        <p>$160</p>
                    </div>
    
                    <div class="actions">
                        <div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
    
                        <div>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>    
                        </div>
                    </div>
    
                    <button class="button4 mg-tp">Add to cart</button>
                </div>
            </div>

        </div>
    </section>


    
</main>


<%- include("includes/footer") %>

