<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>

    <header>

        <div class="container">

            <div class="firstheader">
                <h6>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</h6> 
                <h6><strong>ShopNow</strong></h6>
            </div>
            <nav>
                <h4>EasyReach</h4>


                <ul class="nav_menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Sign In</a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>


        <section class="log_in container">
            <div class="login_img">

                <figure>
                    <img src="/Group 1000005941img.png" alt="">
                </figure>
            </div>


            <div>

                <form action="#" method="POST">
                    <h3>Log in to Exclusive</h3>
                    <p class="margin-bottom">Enter your details below</p>

                    <div class="form-fields">
                        <input type="text" placeholder="Enter Username">
                        <input type="password" placeholder="Enter Password">
                    </div>

                    <div class="btn-sect">
                        <button class="button1">Log In</button>
                        <p>Forget password</p>
                    </div>
                    
                </form>

            </div>
        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>