/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input, textarea, button {
    font-family: inherit;
}

img {
    width: 100%;
    height: auto;
}

:root {
    --fs-primary: clamp(5rem, 5vw, 3rem);
    --fs-secondary: clamp(3rem, 3vw, 1rem);

    /* color */
    --primary-color: #DB4444;
    --secondary-color: #000000;
    --neutral-color: #fff;
}


/* utility classes */

.container {
    width: min(1400px, 80%);
    margin-inline: auto;

}

h1 {
    font-size: var(--fs-primary);
    font-weight: 900;
}

h2 {
    font-size: var(--fs-secondary);
    font-weight: 500;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.button1 {
    padding: 0.8rem 2rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    border: none;
}

.color1 {
    color: var(--primary-color);
}
.color2 {
    color: var(--secondary-color);
}

.color3 {
    color: var(--neutral-color);
}


/* general styles */

.firstheader {
    background-color: var(--secondary-color);
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--secondary-color);
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
}

nav li a:hover {
    background-color: var(--secondary-color);
    color: var(--neutral-color);
    
}


.nav_menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.log_in {
    display: flex;  
    justify-content: left;
    gap: 6rem;
    align-items: center; 
}

.login_img {
    width: 60%;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-fields input {
    padding: 1rem;
    width: 370px;
    margin-block: 1rem;
    border-bottom: 1px solid var(--secondary-color);
}

.btn-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
}