/* font import */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea, button {
    font-family: inherit;
}

img {
    width: 100%;
    height: auto;
}

:root {
    /* font-family: ; */
    --fs-primary: clamp(5rem, 5vw, 3rem);
    --fs-secondary: clamp(3rem, 3vw, 1rem);

    /* color */
    --primary-color: #DB4444;
    --secondary-color: #000000;
}


.firstheader {
    background-color: var(--secondary-color);
}