/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input, textarea, button {
    font-family: inherit;
}

img {
    width: 100%;
    height: auto;
}

:root {
    --fs-primary: clamp(5rem, 5vw, 3rem);
    --fs-secondary: clamp(3rem, 3vw, 1rem);

    /* color */
    --primary-color: #DB4444;
    --secondary-color: #000000;
}


/* utility classes */

.container {
    width: min(1200px, 70%);
    margin-inline: auto;

}

h1 {
    font-size: var(--fs-primary);
    font-weight: 900;
}

h2 {
    font-size: var(--fs-secondary);
    font-weight: 500;
}

.firstheader {
    background-color: var(--secondary-color);
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}